.div{
    display: flex;
    justify-content: center;
}

.button{
    width: 85px;
    height: 30px;
    text-align: center;
    border: none;
    border-radius: 3px;
    background-color: #5dbea3;
    font-weight: bold;

}
.button:hover{
    opacity: 0.7;
}